.Footer{
    display: flex;
    background-color: #F9D285;
    width: 100%;
    height: 68px;
    justify-content: center;
    align-items: center ;
    display: absolute;
    position: fixed;
    bottom: 0;
 
    
}

.FcomAmor{
    font-family: Lora;
    width: 243.75px;
    height: 36px;
    top: 16px;
    left: 598.75;
}
