.cotacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 3.6rem;
    background-color: #FFE6C1;
    margin: 1.2rem auto;
    border-radius: 10px;
    width: 35%;
}

.cotacao .side-left{
    display: flex;
    flex-direction: column;

}

.side-left p{
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: bold;
}

#data{
    opacity: 80%
}
